<h1> Help </h1>

<p> If you're having any trouble, please feel free to email Kelly at <a href = "mailto:kelly@flatironschool.com">kelly@flatironschool.com</a> or call us at (646) 692-8636.</p>

<p> Thanks for being interested in hiring at Flatiron School!</p>